.buyWindow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1b1b1c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: 0;
    font-size: 30px;
}

.xButton {
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    z-index: 99;
    font-size: 30px;
    cursor: pointer;
}