/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


.bot {
    height: 500px;
    width: 500px;
}
.bot-header {
    display: flex;
    background-color: #e85617;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: center;
    height: 50px;
}
.price {
    margin-right: 350px;
    padding-left: 10px;
}
.price__title {
    color: white;
    position: relative;
    left: 10px;
}
.menu__button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    left: -12px;
}
.profile__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
}




.bot-main {
    height: 250px;
    background-color: #1b1b1c;
    overflow-y: scroll;
    padding: 0px 30px;
}
.chat-list {
    padding-top: 20px;
}


.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: white;
    width: 50px;
    height: 50px;
    /* margin: 10px; */
}
.circle:nth-child(odd) {
    margin-right: 10px;
}
.circle:nth-child(even) {
    margin-left: 10px;
}

.message {
    display: flex;
    /* flex-direction: column; */
}

.box {
    background-color: #fff;
    width: 200px;
    height: 40px;
}
.circle-text {
    font-size: 26px;
    color: darkcyan;
    font-weight: 700;
}
.user-message {
    margin-left: 175px;
}


.bot-footer {
    height: 75px;
    background-color: #e85617;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 0px;
    display: block;
    height: 40px;
    width: 390px;
}
.input__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0px;
    border: none;
    height: 46px;
    width: 46px;
    cursor: pointer;
}

.testBuy {
    cursor: pointer;
}